VITE_SUPABASE_URL=https://knoeyqcwhbncdvbsgvni.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtub2V5cWN3aGJuY2R2YnNndm5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MTMyODMsImV4cCI6MjA5OTM4OTI4M30.TDHTP-SxtpNUFCmCcWDU17CbNGJ30CJl-fM8gzULbcw
VITE_SITE_URL=http://localhost:3000
VITE_BOOTSTRAP_SUPER_ADMIN_EMAILS=amitrajput183@gmail.com
